openapi: 3.1.0
info:
  title: SWIFT SwiftRef Account Numbers Currency Codes API
  description: The SWIFT SwiftRef API provides automated real-time lookup and validation of payments reference data. Supports validation and retrieval of BICs, IBANs, LEIs, National IDs, country codes, currency codes, and account numbers. Enables financial institutions, corporates, and PSPs to achieve greater straight-through processing rates by validating identifiers before payment execution. Data is updated daily from authoritative sources.
  version: 2.0.0
  contact:
    name: SWIFT Developer Support
    email: developer-support@swift.com
    url: https://developer.swift.com
  termsOfService: https://developer.swift.com/terms
servers:
- url: https://api.swift.com/swiftrefdata
  description: SWIFT SwiftRef Production API
- url: https://sandbox.swift.com/swiftrefdata
  description: SWIFT SwiftRef Sandbox
security:
- OAuth2: []
tags:
- name: Currency Codes
  description: Currency code lookup and validation
paths:
  /v2/currency_codes/{currency_code}:
    get:
      operationId: getCurrencyCode
      summary: Get Currency Code Details
      description: Returns details for an ISO 4217 currency code including currency name and minor units.
      tags:
      - Currency Codes
      parameters:
      - $ref: '#/components/parameters/currencyCode'
      responses:
        '200':
          description: Currency code details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyCodeDetails'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/currency_codes/{currency_code}/validity:
    get:
      operationId: validateCurrencyCode
      summary: Validate Currency Code
      description: Checks whether a currency code is a valid ISO 4217 code.
      tags:
      - Currency Codes
      parameters:
      - $ref: '#/components/parameters/currencyCode'
      responses:
        '200':
          description: Currency code validity result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidityResult'
components:
  responses:
    NotFound:
      description: Identifier not found in reference data
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
  schemas:
    CurrencyCodeDetails:
      type: object
      properties:
        currencyCode:
          type: string
          description: ISO 4217 currency code
        currencyName:
          type: string
          description: Currency name
        minorUnits:
          type: integer
          description: Number of decimal places (minor currency units)
    ValidityResult:
      type: object
      properties:
        valid:
          type: boolean
          description: Whether the identifier is valid
        errorCode:
          type: string
          description: Error code if invalid
        errorDescription:
          type: string
          description: Human-readable description of validation failure
  parameters:
    currencyCode:
      name: currency_code
      in: path
      required: true
      schema:
        type: string
        pattern: ^[A-Z]{3}$
      description: ISO 4217 currency code
      example: EUR
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://api.swift.com/oauth2/v1/token
          scopes:
            urn:swiftref:external: External customer access to SwiftRef data
            urn:swiftref:internal: Internal payment validation access
externalDocs:
  description: SWIFT SwiftRef API Documentation
  url: https://developer.swift.com/apis/swiftref-api
