openapi: 3.1.0
info:
  title: SWIFT SwiftRef Account Numbers BBANs API
  description: The SWIFT SwiftRef API provides automated real-time lookup and validation of payments reference data. Supports validation and retrieval of BICs, IBANs, LEIs, National IDs, country codes, currency codes, and account numbers. Enables financial institutions, corporates, and PSPs to achieve greater straight-through processing rates by validating identifiers before payment execution. Data is updated daily from authoritative sources.
  version: 2.0.0
  contact:
    name: SWIFT Developer Support
    email: developer-support@swift.com
    url: https://developer.swift.com
  termsOfService: https://developer.swift.com/terms
servers:
- url: https://api.swift.com/swiftrefdata
  description: SWIFT SwiftRef Production API
- url: https://sandbox.swift.com/swiftrefdata
  description: SWIFT SwiftRef Sandbox
security:
- OAuth2: []
tags:
- name: BBANs
  description: BBAN to IBAN conversion
paths:
  /v2/bbans/{bban}/iban:
    get:
      operationId: getIbanForBban
      summary: Get IBAN for BBAN
      description: Converts a Basic Bank Account Number (BBAN) to the corresponding IBAN format.
      tags:
      - BBANs
      parameters:
      - name: bban
        in: path
        required: true
        schema:
          type: string
        description: Basic Bank Account Number
      responses:
        '200':
          description: IBAN for the BBAN
          content:
            application/json:
              schema:
                type: object
                properties:
                  iban:
                    type: string
                    description: International Bank Account Number
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Identifier not found in reference data
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://api.swift.com/oauth2/v1/token
          scopes:
            urn:swiftref:external: External customer access to SwiftRef data
            urn:swiftref:internal: Internal payment validation access
externalDocs:
  description: SWIFT SwiftRef API Documentation
  url: https://developer.swift.com/apis/swiftref-api
